@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

input,
button {
  display: inline-block;
  outline: none;
  border: none;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--title-color);

  font-family: var(--secondary-font);
  line-height: 1.1;
  font-size: 1.8rem;

  overflow-x: hidden;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --title-color: #262626;
  --text-color: #636363;
  --white-color: #fff;
  --primary-color: #f55f8d;
  --secondary-color: #f8ae56;
  --height-header: 12.5rem;
  --gradient-color: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}

section {
  padding-top: 115px;
}

.btn {
  padding: 2rem 3.5rem;
  border-radius: 5rem;

  color: var(--white-color);
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;

  transition: all 0.5s;
}

.sub-title {
  display: inline-block;
  margin-bottom: 1rem;

  color: var(--primary-color);

  font-size: 2.2rem;
  font-family: var(--primary-font);
  font-weight: 600;
  text-transform: capitalize;
}

.text-align {
  text-align: center;
}

.heading h2 {
  margin-bottom: 4rem;

  color: var(--title-color);

  font-family: var(--primary-font);
  font-size: 6rem;
  text-transform: capitalize;
}

.heading-2 h3 {
  margin-bottom: 1.5rem;

  color: var(--title-color);

  font-family: var(--primary-font);
  font-size: 2.5rem;
  text-transform: capitalize;
}

.heading-2 p {
  color: var(--text-color);

  font-family: var(--secondary-font);
  font-size: 1.5rem;
  line-height: 1.6;
}

.btn:hover {
  background-position: right center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header starts */

.header-wrapper {
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header {
  display: flex;
  align-items: center;
  max-height: var(--height-header);
}

.navbar {
  margin-right: 2rem;
  margin-left: auto;
}

.navbar a {
  padding: 5.5rem 1.5rem;

  color: #070120;

  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar a span {
  display: inline-block;
  transition: all 1s;
}

.navbar a:hover span {
  color: var(--primary-color);
  animation: scrollEffect 0.5s;
}

.navbar a:hover i {
  color: var(--primary-color);
}

.header a img {
  width: 17rem;
}

.navbar a i {
  display: inline-block;
  margin-left: 0.5rem;

  color: #070120;

  font-size: 1.1rem;
  font-weight: bold;

  transition: all 1s;
}

@keyframes scrollEffect {
  49% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }

  51% {
    opacity: 1;
  }
}
/* header ends */

/* carousel starts */
.carousel-wrapper {
  background-image: url(./images/pic2.png);
  background-repeat: no-repeat;
}

.carousel {
  padding-top: calc(var(--height-header) + 6rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-content {
  width: 60%;

  color: var(--text-color);
}

.carousel-content h2 {
  margin: 2rem 0;

  color: var(--title-color);

  font-size: 7rem;
  text-transform: capitalize;
  font-family: var(--primary-font);
  font-weight: 800;
}

.carousel-content p {
  font-size: 1.8rem;
}

.carousel-list {
  list-style: none;
  margin-top: 1.5rem;
}

.carousel-list li {
  margin-bottom: 2rem;
}

.carousel-list li i {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;

  background-image: var(--gradient-color);
  color: var(--white-color);

  line-height: 3.5rem;
  text-align: center;
  font-size: 2rem;
}

.carousel-img {
  margin-left: 7rem;
  width: 40%;
}

.carousel-media {
  position: relative;

  width: 57rem;
}

.carousel-media img {
  width: 100%;
}

.carousel-move {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: move 3s infinite;
}

.carousel-move img {
  width: auto;
}

@keyframes move {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
    -wedkit-transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
    -wedkit-transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
    -wedkit-transform: rotate(1deg) translate(2px, 2px);
  }
}
/* carousel ends */

/* service starts */
.service-list {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.service-item {
  width: calc(100% / 3 - 2rem);
  padding: 3rem;
  border-radius: 5px;

  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);

  transition: all 0.7s;
}

.service-item:hover {
  transform: translateY(-1.5rem);
}

.service-img img {
  width: 215px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
/* service ends */

/* about section starts */
.about-container {
  padding-bottom: 115px;

  background-image: url(./images/bg15.png);
  background-repeat: no-repeat;
}

.about {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;

  justify-content: space-between;
}

.about-content {
  width: calc(50% - 1.5rem);
}
.about-media {
  width: calc(50% - 1.5rem);
}

.about-img {
  position: relative;
  width: 50vw;
  left: -70%;
}

.about-img img {
  width: 100%;
  height: auto;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.about-img::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;

  width: 50vw;
  height: 100%;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;

  background-color: #fef2f6;

  transform: rotate(8deg);
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 64rem;
}

.about-content p {
  color: var(--text-color);

  font-size: 1.5rem;
  line-height: 2.5rem;
}

.about-list {
  /* margin: 1.6rem 0 3rem; */

  list-style: none;
}

.about-item {
  position: relative;

  padding: 0.8rem 0.5rem 0.8rem 3.5rem;
  margin: 1rem 0;

  color: var(--text-color);

  font-size: 1.5rem;
}

.about-item::before {
  content: "\f120";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  color: var(--primary-color);

  font-family: Flaticon;
  font-size: 2.4rem;
}

/* about section ends */

/* counter section starts */
.counter {
  padding-block: 6rem;

  background: url(./images/bg14.png) no-repeat center/cover;
}

.counter-list {
  display: flex;
  justify-content: space-between;
}

.counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.counter-item i {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;

  background-image: var(--gradient-color);
  color: var(--white-color);

  font-size: 4.5rem;
  line-height: 8rem;
  text-align: center;
}

.counter-content p {
  color: var(--primary-color);

  font-size: 6.5rem;
  font-family: var(--primary-font);
  font-weight: 800;
}

.counter-text {
  font-size: 1.8rem;
}

/* counter section ends */

/* feature section starts */

.feature {
  padding-block: 0;
  margin-top: 115px;

  background-image: url(./images/bg2.png);
  background-repeat: no-repeat;
}

.feature-wrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.feature-content {
  width: calc(50% - 1.5rem);
}

.feature-item {
  position: relative;
  z-index: 1;
  overflow: hidden;

  display: flex;
  align-items: center;
  padding: 3rem;
  border-radius: 0.5rem;

  background-color: var(--white-color);
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);

  transition: all 1s;
}

.feature-item::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background-image: var(--gradient-color);
  opacity: 0;

  transition: all 1s;
}

.feature-item.is-active::after {
  opacity: 1;
}

.feature-item i {
  display: inline-block;

  color: var(--primary-color);

  font-size: 8rem;
}

.feature-info {
  margin-left: 2.5rem;
}

.feature-info h3 {
  margin-bottom: 1rem;

  color: var(--title-color);

  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 800;
}

.feature-info p {
  color: var(--text-color);

  font-size: 1.6rem;
  line-height: 1.4;
}

.feature-item.is-active .feature-info h3,
.feature-item.is-active .feature-info p,
.feature-item.is-active i {
  color: white;
}

.feature-item:nth-child(odd) {
  margin: 0 5rem 3rem 0;
}

.feature-item:nth-child(even) {
  margin: 0 0 3rem 5rem;
}

.feature-media {
  margin-right: -80px;

  animation: move 5s infinite;
}

.feature-img {
  width: calc(50% - 1.5rem);
}

.feature-media img {
  max-width: 650px;
}
/* feature section ends */

/* portfolio starts */
.portfolio-list {
  display: grid;
  grid-template-columns: 67rem 47rem;
  gap: 3rem;
}

.portfolio-item a {
  position: absolute;
  inset: 0;
}

.portfolio-wrap {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.portfolio-item {
  position: relative;

  overflow: hidden;
}

.portfolio-item::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 1rem;

  background-color: #000;

  opacity: 0;
  transition: all 0.5s linear;
}

.portfolio-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: -80%;
  z-index: 5;

  width: 50%;
  height: 100%;

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );

  transform: skewX(-30deg);
  transition: all 0.4s linear;
}

.portfolio-item:hover::after {
  animation: moveBackground 0.6s;
}

.portfolio-item:hover::before {
  opacity: 0.4;
}

.portfolio-item .portfolio-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 0.3rem;

  color: var(--white-color);
  background-image: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--secondary-color) 51%,
    var(--primary-color) 100%
  );
  background-size: 200%;

  font-size: 2.8rem;
  text-align: center;
  line-height: 5rem;

  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s linear;
}

.portfolio-item .portfolio-icon:hover {
  background-position: right center;
}

.portfolio-item:hover .portfolio-icon {
  top: 2rem;
  right: 2rem;
  opacity: 1;
}

.portfolio-info {
  position: absolute;
  bottom: -10rem;
  left: 3rem;
  z-index: 10;
  transition: all 0.3s linear;
}

.portfolio-item:hover .portfolio-info {
  bottom: 3rem;
  transition: all 1s linear;
}

.portfolio-info h3 {
  margin-bottom: 1.5rem;

  color: var(--white-color);

  font-family: var(--primary-font);
  font-size: 2.2rem;
}

.portfolio-info span {
  color: var(--white-color);

  font-size: 1.6rem;

  opacity: 0.7;
}

.portfolio-item img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-item:last-child {
  grid-column: 2/-1;
  grid-row: 2/4;
}

@keyframes moveBackground {
  0% {
    left: -125%;
  }
  100% {
    left: 125%;
  }
}
/* portfolio ends */

/* plan section starts */

.pricingtable-year,
.pricingtable-month {
  display: none;
}

.pricingtable-year.is-show,
.pricingtable-month.is-show {
  display: inline-block;
}

.plan-btn {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 5rem;
  margin: 0 auto;
  border-radius: 0.5rem;

  color: var(--white-color);
  background-image: var(--gradient-color);

  box-shadow: 0 10px 20px 0 rgba(245, 95, 141, 0.1);

  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-month,
.btn-year {
  width: 50%;
  height: 4rem;
  line-height: 4rem;

  cursor: pointer;
  transition: all 0.6s linear;
}

.btn-year.is-active::after {
  left: 50%;
}

.btn-year.is-active,
.btn-month.is-active {
  color: var(--title-color);
}

.btn-year::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  height: 4rem;
  width: calc(50% - 0.5rem);

  z-index: -1;

  border-radius: 0.5rem;

  background-color: var(--white-color);

  transition: all 0.6s linear;
}

.plan-list {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 4rem;
}

.pricingtable {
  padding: 3.5rem 6rem;
  border-radius: 0.5rem;
  width: calc(100% / 3 - 2rem);
  border: 3px solid transparent;

  border-image: 40 round;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);

  transition: all 1s;
}

.pricingtable:hover {
  border-image: url(./images/br.png) 1 round;
  transition: all 1s;
}

.pricingtable-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e1e1f0;
}

.pricingtable-month,
.pricingtable-year {
  color: var(--title-color);

  font-family: var(--primary-font);
  font-size: 1.8rem;
  font-weight: 600;
}

.pricingtable-price {
  color: var(--secondary-color);

  font-size: 5rem;
  font-weight: 800;
}

.pricingtable-img img {
  width: 125px;
  margin: 0.8rem 0 1.5rem;
}

.pricingtable-title {
  color: var(--title-color);

  text-transform: capitalize;
  text-align: center;
  font-size: 3.2rem;
  font-family: var(--primary-font);
}

.pricingtable-feature {
  margin-bottom: 1.5rem;
}

.pricingtable-feature li {
  padding: 0.5rem 0;

  color: var(--title-color);

  font-size: 1.8rem;
  line-height: 1.6;
}

.pricingtable-feature li i {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  margin-right: 1.4rem;

  color: var(--primary-color);
  background-color: rgba(245, 95, 141, 0.1);

  line-height: 2.6rem;
  text-align: center;
}

.pricingtable a {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

/* plan section ends */

/* testimonial-item section starts */
.testimonial {
  background-image: url(./images/bg17.png);
}

.testimonial-client {
  position: relative;

  width: 30rem;
  height: 17rem;
  margin: 0 auto;
}

.testimonial-client::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 100;

  height: 100%;
  width: 3rem;

  background-image: linear-gradient(
    to right,
    var(--white-color) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.testimonial-client::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;

  height: 100%;
  width: 3rem;

  background-image: linear-gradient(
    to left,
    var(--white-color) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.testimonial-item {
  display: flex;
  justify-content: center;
  align-items: stretch;

  margin-top: 5rem;

  transition: all 1s linear;
}

.testimonial-item.swiper-slide-active {
  margin: 0;

  transition: all 0.4s linear;
}

.testimonial-img {
  position: relative;
  z-index: 20;

  display: inline-block;
}

.testimonial-img::before {
  content: "";
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  background-color: var(--primary-color);
}

.testimonial-img::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  background-color: var(--primary-color);
}

.testimonial-item img {
  position: relative;
  z-index: 20;

  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;

  padding: 0.5rem;
  background-color: var(--primary-color);
}

.testimonial-shape {
  position: relative;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 3.5rem;
  background-color: var(--primary-color);
}

.testimonial-shape::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url(./images/pattern12.png);
  background-position: bottom;
}

.testimonial-wrapcontent {
  border-radius: 0.5rem;

  text-align: center;
  font-style: italic;
}

.testimonial-info {
  margin-bottom: 5rem;
}

.swiper-pagination {
  margin-top: 5rem;
}

.testimonial-text {
  position: relative;
  width: 76rem;
  margin: 2rem auto;

  padding: 4.5rem;

  box-shadow: 0 20px 30px 0 rgb(0 0 0 / 10%);
}

.testimonial-text::before {
  content: "\f121";
  position: absolute;
  top: 0;
  left: 3rem;

  transform: rotate(180deg);

  color: var(--primary-color);

  font-family: "Flaticon";
  font-style: normal;
  font-size: 8rem;
}

.testimonial-info h3 {
  color: var(--title-color);

  text-transform: capitalize;
  font-size: 2.2rem;
  font-family: var(--primary-font);
  font-weight: 800;
}

.testimonial-info span {
  display: inline-block;
  margin: 1rem 0 2rem;

  color: var(--primary-color);

  text-transform: capitalize;
  font-size: 1.5rem;
}

.testimonial-info p {
  color: var(--text-color);

  font-size: 1.8rem;
  line-height: 1.6;
}
/* testimonial-item section ends */

/* blog section starts */
.blog {
  background-image: url(./images/bg16.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-list {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  border-radius: 1rem;
  width: calc(33.33%);

  overflow: hidden;

  background-color: rgba(245, 95, 141, 0.1);
}
.blog-pic {
  position: relative;
  z-index: 1;
}

.blog-date {
  position: absolute;
  bottom: 0;
  left: 2rem;
  z-index: 5;

  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;

  background-image: var(--gradient-color);
  color: var(--white-color);

  text-transform: uppercase;
  font-size: 1.4rem;

  transform: translateY(50%);
}

.blog-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.blog-content {
  padding: 3rem 1.5rem 2rem;
}

.blog-content h3 {
  font-family: var(--primary-font);
  font-size: 2.5rem;

  color: var(--title-color);

  transition: 0.6s linear;

  cursor: pointer;
}

.blog-content h3:hover {
  color: var(--primary-color);
}

.blog-content p {
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  font-size: 1.6rem;
}

.blog-info {
  display: flex;
  gap: 2rem;

  color: var(--title-color);

  text-transform: uppercase;
  font-size: 1.4rem;
}

.blog-icon {
  display: inline-block;
  margin-right: 0.5rem;
  color: var(--primary-color);

  font-size: 2.2rem;
}

.blog-author,
.blog-comment {
  display: flex;
  align-items: center;
}

.blog-author span {
  color: var(--primary-color);
}

.swiper-pagination {
  visibility: visible;
  opacity: 0;
}
/* blog section ends */

/* brand section starts */

.brand {
  padding: 8rem 0 5rem;
}
.is-hover {
  display: none;
}

.brand-list {
  display: flex;
  align-items: center;
}

.brand-item {
  position: relative;

  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-item::after {
  content: "";

  position: absolute;
  inset: 0;
  z-index: -1;

  border-radius: 0.5rem;

  background-image: var(--gradient-color);

  box-shadow: 5px 0 30px 0 rgba(245, 95, 141, 0.5);

  opacity: 0;

  transition: 0.4s linear;
}

.brand-item:hover::after {
  opacity: 1;
}

.brand-item:hover .is-show {
  display: none;
}

.brand-item:hover .is-hover {
  display: inline-block;
}
/* brand section ends */

/* footer section starts */
.footer-wrapper {
  position: relative;
  z-index: 0;

  background-image: url(./images/bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0e1b1f;
}

.footer-wrapper::before {
  content: "";

  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(./images/pattern2.png);
  background-repeat: no-repeat;
}

.footer-form {
  position: relative;
  z-index: 10;

  padding: 5rem 6rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: url(./images/pattern3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  background-color: var(--white-color);

  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
}

.footer-form h3 {
  width: calc(50% - 1.5rem);
  font-size: 2.8rem;
  font-family: var(--primary-font);
}

.form-box {
  height: 6rem;
  border-radius: 0.5rem;
  overflow: hidden;
  width: calc(50% - 1.5rem);
  display: flex;
}

.form-box input {
  width: 85%;
  padding: 1rem 2rem;
  border: 1px solid transparent;

  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;

  background-color: var(--white-color);
  color: var(--text-color);

  text-transform: capitalize;

  transition: 0.3s linear;
}

.form-box input:hover {
  border: 1px solid var(--primary-color);
}

.form-box button {
  width: 15%;

  background-image: var(--gradient-color);
  color: var(--white-color);

  font-size: 2.1rem;

  cursor: pointer;

  transition: all 0.3s linear;
}

.form-box button:hover i {
  animation: moveBtn 0.3s;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 7rem 3rem;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 2.5rem;
}
.footer-item ul li a {
  display: flex;
}

.footer-item ul li a span,
.footer-item ul li span,
.footer-item ul li a i {
  color: rgba(255, 255, 255, 0.6);

  font-size: 1.5rem;

  transition: 0.2s linear;
}

.footer-item ul li .footer-icon {
  display: inline-block;

  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  background-image: var(--gradient-color);
  color: white;

  text-align: center;
  line-height: 4rem;
  font-size: 1.5rem;
}

.footer-item ul li {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-item ul li:hover a span,
.footer-item ul li:hover i {
  color: var(--white-color);
}

.footer-item h3 {
  position: relative;

  margin-bottom: 3rem;
  padding-bottom: 1rem;

  color: var(--white-color);

  font-family: var(--primary-font);
  font-size: 2.4rem;
  text-transform: capitalize;
}

.footer-item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;

  width: 2rem;
  height: 4px;
  border-radius: 2rem;

  background-image: var(--gradient-color);
}

.footer-item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 3rem;
  z-index: 3;

  width: 6rem;
  height: 4px;
  border-radius: 2rem;

  background-image: var(--gradient-color);
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1.5rem;
}

.footer-item ul li a span {
  text-transform: capitalize;
}

.footer-item ul li a i {
  display: inline-block;
  margin-right: 0.5rem;
}

.footer-copyright {
  background-color: #1f343b;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer-card {
  color: rgba(255, 255, 255, 0.5);

  font-size: 1.5rem;
}

.footer-social a {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;

  text-align: center;
  line-height: 3.6rem;

  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes moveBtn {
  49% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}

/* footer section ends */
